footer {
  padding: 40px 0 0;
  background-color: $dark;
  & .footer_logo {
    display: inline-flex;
    align-items: center;
    background-color: $white;
    width: auto;
    padding: 10px;
    justify-content: center;
    border-radius: 60px;
    margin-bottom: 20px;
    transform: scale(0.9);
    & img {
      max-width: 90%;
    }
  }
  & .footer_social {
    color: $white;
    font-size: 17px;
    transition: 0.5s all;
    margin-bottom: 20px;
    &:hover {
      color: $theme1;
    }
  }
  & .heading-footer {
    font-weight: bold;
    color: $white;
    font-size: 17px;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  & .footer_menus {
    & li {
      & a {
        font-size: 14px;
        color: $white;
        transition: 0.5s all;
        font-weight: 600;
        margin: 10px 0 10px 0;
        padding-left: 15px;
        display: block;
        position: relative;
        &::after {
          position: absolute;
          content: "";
          top: 0;
          bottom: 0;
          left: 0;
          background-color: $white;
          height: 100%;
          width: 4px;
          transition: 0.5s all;
          border-radius: 0px 10px 10px 0;
        }
        &:hover {
          color: $theme1;
          &::after {
            background-color: $theme1;
          }
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@mixin footer-mixin-min-sm() {
}
// Medium devices (tablets, 768px and up)
@mixin footer-mixin-min-md() {
}
// Large devices (desktops, 992px and up)
@mixin footer-mixin-min-lg() {
}
// X-Large devices (large desktops, 1200px and up)
@mixin footer-mixin-min-xl() {
}
// XX-Large devices (larger desktops, 1400px and up)
@mixin footer-mixin-min-xxl() {
}
// X-Small devices (portrait phones, less than 576px)
@mixin footer-mixin-max-xs() {
}
// Small devices (landscape phones, less than 768px)
@mixin footer-mixin-max-sm() {
  footer {
    & .footer_social {
      font-size: 15px;
    }
    & .heading-footer {
      font-size: 14px;
      margin-bottom: 20px;
    }
    & .footer_menus {
      & li {
        & a {
          font-size: 13px; 
        }
      }
    }
  }
}
// Medium devices (tablets, less than 992px)
@mixin footer-mixin-max-md() {
}
// Large devices (desktops, less than 1200px)
@mixin footer-mixin-max-lg() {
}
// X-Large devices (large desktops, less than 1400px)
@mixin footer-mixin-max-xl() {
}

// No media query for `xs` since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  @include footer-mixin-min-sm();
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  @include footer-mixin-min-md();
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  @include footer-mixin-min-lg();
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  @include footer-mixin-min-xl();
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  @include footer-mixin-min-xxl();
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
  @include footer-mixin-max-xl();
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  @include footer-mixin-max-lg();
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  @include footer-mixin-max-md();
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  @include footer-mixin-max-sm();
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  @include footer-mixin-max-xs();
}

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width
