<main class="main-scrollbar">

  <div class="screens_header position-fixed bg-theme1 h-70px zi-9 d-flex align-items-center w-100">
    <div class="container">
      <div class="row align-items-center position-relative position-relative zi-2">
        <!-- <div class="col-auto position-absolute start-0">
          <a href="javascript:;"><img class="w-32px" src="assets/img/back-btn.svg" alt="" (click)="rout()"></a>
        </div> -->
        <div class="col text-center">
          <h2 class="text-white fw-600 fs-18 mb-0">Timesheet</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="screens_scroll_part py-5">
    <div class="container pt-4">
      <div class="row py-4">
        <div class="col-12">
          <div class="row daily_summry">
            <div class="col-12 mb-4">
              <form class="row align-items-center" [formGroup]="timesheetForm">
                <div class="col">
                  <label class="fw-600 fs-18" for="">From</label>
                  <div class="form-group">
                    <input type="date" autocomplete="off" class="form-control shadow-none border-2 border h-60px px-3 "
                    (focusout)="callApi()" formControlName="initialDate" placeholder="date">
                  </div>
                </div>
                <div class="col">
                  <label class="fw-600 fs-18" for="">To</label>
                  <div class="form-group">
                    <input type="date" autocomplete="off" class="form-control shadow-none border-2 border h-60px px-3"
                      (focusout)="callApi()" formControlName="endDate" placeholder="date">
                  </div >
                </div>
              </form>
            </div>
            <div class="col-12 mt-4">
              <div role="button" class="mb-3" *ngFor="let item of userDetails;let i=index;" (click)="sendtimesheet(item._id)">
                <div class="col px-1 text-start">
                  <span class="text-theme2 fs-16 fw-500"  >{{item.start_Date |date : 'd EE'}}</span>
                </div>
                <div class="bg-light rounded-4 border border-1 text-center">
                <div class="row mx-0">
                    <div class="col-12 p-2 border-bottom">
                      <div *ngIf="item.site_address" class="text-start text-black p-1 mb-1 border-bottom">{{item.site_address}}</div>
                      <div class="align-items-center">
                        
                        <div class="col px-1 text-start">
                          <span class="text-theme2 fs-16 fw-500">Total : {{item.total_working_hours}}</span>
                        </div>
                     
                        <!-- <div class="col px-1">
                          <span class="text-theme2 fs-16 fw-500"><i class="imgs img-chevron-right"></i></span>
                        </div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    </div>
    <div class="screens_footer">
      <div class="container">
        <div class="row mx-0 align-items-center">
          <div class="col text-center">
            <a class="footer_mennus position-relative" (click)="index()"style="cursor: pointer"><img src="assets/img/home.svg" alt=""></a>
          </div>
          <div class="col text-center">
            <a class="footer_mennus position-relative" (click)="profile()"style="cursor: pointer"><img src="assets/img/user.svg" alt=""></a>
          </div>
          <div class="col text-center middle_menus">
            <a class="footer_mennus position-relative" (click)="clock()"style="cursor: pointer"><img class="bg-white rounded-pill"
                src="assets/img/watch.svg" alt=""></a>
          </div>
          <div class="col text-center">
            <a class="footer_mennus position-relative active_menu" (click)="timesheet()"style="cursor: pointer"><img
                src="assets/img/active_timesheet.svg" alt=""></a>
          </div>
          <div class="col text-center">
            <a class="footer_mennus position-relative" (click)="blankpage()" style="cursor: pointer"><img
                src="assets/img/settings.svg" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>